<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Csv" version="2.0.62" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="FluentFTP" version="33.1.8" targetFramework="net48" />
  <package id="Lextm.SharpSnmpLib" version="12.3.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyModel" version="5.0.0" targetFramework="net48" />
  <package id="Neodynamic.SDK.ThermalLabel" version="10.0.21.330" targetFramework="net48" />
  <package id="Neodynamic.SDK.ThermalLabel.WebPrinting" version="10.0.0" targetFramework="net48" />
  <package id="Neodynamic.SDK.ThermalLabel.WindowsPrinting" version="10.0.0" targetFramework="net48" />
  <package id="Neodynamic.SDK.ZPLPrinter" version="3.0.21.414" targetFramework="net48" />
  <package id="Neodynamic.Windows.ThermalLabelEditor" version="10.0.20.1105" targetFramework="net48" />
  <package id="Neodynamic.Windows.ThermalLabelEditor.NetCore" version="10.0.20.1105" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.8.10" targetFramework="net48" />
  <package id="SkiaSharp" version="2.80.2" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.113.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="net48" />
  <package id="System.Data.SQLite" version="1.0.113.7" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.113.7" targetFramework="net48" />
  <package id="System.Data.SQLite.EF6" version="1.0.113.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Linq" version="1.0.113.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Net.NameResolution" version="4.3.0" targetFramework="net48" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net48" />
  <package id="Zebra.Printer.SDK" version="2.15.2634" targetFramework="net48" />
  <package id="ZXing.Net" version="0.16.6" targetFramework="net48" />
</packages>